.root {
  width: 100%;
  min-height: 100vh;
}

.root.dark {
  background-color: #394B59;
}

.root.light {
  background-color: #F5F8FA;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.menu {
  padding-top: 20px;
  position: sticky;
  top: -20px;
  z-index: 1;
}

.inputs {
  padding: 20px 0;
}

@media only screen and (max-width: 1200px) {
  .root {
    width: 100%;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .menu {
    padding-top: 10px;
    top: -10px;
  }

  .inputs {
    padding: 10px 0;
  }
}
